nav .ul-pagi {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav button {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 5px;
    /* padding: 7px 6px 6px 6px; */
    color: rgba(0, 0, 0, 0.6);
}

nav button:focus {
    outline: 0;
}

nav button:active {
    color: #1890ff;
}

nav button:hover {
    border-color: #1890ff;
    color: #1890ff;
}

nav .numberButton {
    height: 30px;
    width: 30px;

}

nav .prevButton, .nextButton {
    height: 30px;
    width: 70px;
}

