.posts-page {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin-left: 20px;
}

.Cart-root {
    width: 300px;
    height: 345px;
    margin: 20px 15px 20px 20px;
}

.Cart {
    height: 400px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}

.Cart:hover .cart-content{
    transform: translate(0, -5px);
}


.img-title {
    width: 300px;
    transition: 1s;
    height: 200px;
}

.Cart:hover .img-title {
    transform: scale(1.1);
    transition: 1s;
}

.cart-content {
    border-top: 1px solid #000;
    border-radius: 12px;
    position: relative;
    top: -50px;
    background-color: #25282c;
    color: #fdfdfd;
    width: 300px;
    height: 200px;
    transition: all 1s;
}

.button-delete {
    position: relative;
    top: 35px;
    left: 265px;
    margin-top: 5px;
    border-radius: 50%;
    z-index: 1;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    color: #000;
    visibility: hidden;
}

.Cart-root:hover .button-delete {
    visibility: visible;
}

.button-delete:hover {
    background-color: red;
    border: 1px solid red;
    color: #fff;
    cursor: pointer;
}

.content {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 15px 40px;
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    height: 80px;
}

.view-count {
    font-size: 16px;
    color: #686278;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.cart-time {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    border-top: 1px solid #151618;
    padding: 10px 10px;
    width: 280px;
}

.info-time {
    display: flex;
    margin-top: 4px;
}

.icon-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 4px;
}

.time {
    font-style: italic;
    font-size: 14px;
}

span.flaticon-bookmark::before {
    margin: 0;
}

span.flaticon-bookmark {
    border: 1px solid transparent;
    padding: 2px;
    border-radius: 4px;
    background-color: transparent;
}


.flaticon-bookmark:hover {
    border-color:#686278;
    background-color: #686278;
}