.title {
  font-size: 16px;
  padding: 20px 25px;
  margin: 0;
}

.info {
  margin: 10px 0;
  padding: 0 25px;
  font-size: 14px;
}

.info1 {
  background-color: #eefff6;
}

.title-info {
  color: #000;
  font-weight: 500;
  font-size: 12px;
}

.info .content-info1 {
  font-size: 16px;
  font-weight: 600;
  color: #399f6b;
}

.content-info {
  font-size: 12px;
}

.button {
  margin: 10px 25px 20px 25px;
  border-color: #399f6b !important;
  color: #399f6b !important;
  font-weight: 600;
  padding: 4px;
  width: 180px;
  height: 40px;
  font-size: 12px;
}

.button:hover {
  border-color: #399f6b;
  color: #399f6b;
}

.table {
  width: 100%;
  font-size: 12px;
}


thead, tbody,
td,
tr {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  text-align: center;
  padding: 0 5px 0 5px;
}

tfoot > tr, td {
    border: none;
    
}

tfoot td:first-child{
  border-right: none;
}

.table th {
  text-align: center;
  height: 45px;
  background-color: #eefff6;
}

.table th:first-child,
td:first-child {
  border-right: 1px solid #999;
  text-align: left;
  padding: 5px 10px 5px 10px;
}

.table th:first-child {
  width: 200px;
}

.title-table {
  font-size: 16px;
  margin: 20px 0 30px 0;
  text-align: left;
}

.quy-cach {
  font-weight: 1 !important;
  font-size: 12px !important;
}

@media (max-width: 1199.98px) { 
  .table2 {
    margin-top: 20px !important;
  }
 }
